# Secret pro endpoint POST /youtube/cookies
COOKIES_UPLOAD_SECRET=a1ae7f02b7568d93327a653cfb9e67e9d8d5f6503313f2b627c597413c6ccbf6

# Caminho customizado pro cookies.txt
YOUTUBE_COOKIES_PATH=

# Configurações de Gravação de Stream
MAX_CONCURRENT_RECORDINGS=20
